<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card-header>
    <mat-card-title>
      <p>Current Projects</p>
    </mat-card-title>
  </mat-card-header>
<mat-accordion multi="true" *ngIf="projects.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let project of projects">
    <mat-expansion-panel-header>
      {{ project.title }}
    </mat-expansion-panel-header>
      <div class="project-image">
        <img [src]="project.imagePath" [alt]="project.title">
      </div>
       <p>{{ project.dueOn }}</p>
       <p>{{ project.lead }}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-button [routerLink]="['/editProject', project.id]">EDIT</a>
      <button mat-button (click)="onDelete(project.id)">DELETE</button>
    </mat-action-row>
 </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalProjects"
  [pageSize]="projectsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)"
  *ngIf="projects.length > 0">
</mat-paginator>
<p class="info-text mat-body-1" *ngIf="projects.length <= 0 && !isLoading">No Projects Yet!</p>


