
<mat-card>
  <mat-card-header class="header">
    <h2>Add People Here</h2>
  </mat-card-header>
  <form (submit)="onSavePerson(peopleForm)" #peopleForm="ngForm">
      <mat-form-field>
          <input
          matInput
          type="text"
          name="name"
          [ngModel]="person?.name"
          required
          minlength="5"
          placeholder="Add First and Last Name"
          #name="ngModel">
         <mat-error *ngIf="name.invalid">Please Add Name</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea
          matInput
          type="text"
          name="role"
          [ngModel]="person?.role"
          required
          minlength="3"
          placeholder="Add Role"
          #role="ngModel"></textarea>
         <mat-error *ngIf="role.invalid">Please Add a Role</mat-error>
        </mat-form-field>
        <button
        mat-raised-button
        color="primary"
        type="submit">Save</button>
   </form>
 </mat-card>


