
<mat-card>
  <form (submit)="onAddPerson(peopleForm)" #peopleForm="ngForm">
      <mat-form-field>
          <input
          matInput
          type="text"
          name="name"
          ngModel
          required
          minlength="5"
          placeholder="Add First and Last Name"
          #name="ngModel">
         <mat-error *ngIf="name.invalid">Please Add Name</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea
          matInput
          type="text"
          name="role"
          ngModel
          required
          minlength="3"
          placeholder="Add Role"
          #role="ngModel"></textarea>
         <mat-error *ngIf="role.invalid">Please Add a Role</mat-error>
        </mat-form-field>
        <button
        mat-raised-button
        color="primary"
        type="submit">Add Person</button>
   </form>
 </mat-card>


