:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-card-header{
  background-color: #34515e;
}

mat-card-title{
  color: #eceff1;
}

mat-expansion-panel{
  background-color: #607d8b;
}

mat-paginator{
  margin-top: 1rem;
  color: #eceff1;
}

mat-action-row{
  background-color: #8eacbb
}
;
.info-text{
  color: #e2f1f8;
  text-align: center;
}

.project-image {
  width: 100%;
}

.project-image img {
  width: 100%;
  box-shadow: 1px, 1px, 5px, rgba(0, 0, 0, 0.5);
}
