<app-projects-add></app-projects-add>

<mat-accordion multi="true" *ngIf="projects.length > 0">
  <mat-expansion-panel *ngFor="let project of projects">
    <mat-expansion-panel-header>
      {{ project.title }}
    </mat-expansion-panel-header>
    <p>{{ project.lead }}</p>
    <p>{{ project.dateDue }}</p>
    <mat-action-row>
      <button mat-button>EDIT</button>
      <button mat-button>DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="projects.length <= 0">No Projects Added Yet</p>


