:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-card-header{
  background-color: #1b1b1b;
}

mat-action-row{
  background-color: #6d6d6d;
}

mat-card-title{
  color: #fafafa;
}




